*~
*_
*~bak
*-bak
*.bak
bin
build.properties
.checkstyle
.classpath
*cpJar*
dependency-tree.log
.DS_Store
*.gpd.*
.idea
*.eml
*.iml
*.ipr
*.iws
*.log
.metadata
*.orig
.pmd
.project
*.rej
*.retry
.settings
target
